<a href="https://colab.research.google.com/github/Annfreedajoy/business-analytics-with-python/blob/main/pandas%20sales%20data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
df=pd.read_excel("/content/Supermarket_sales.xlsx")
df

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
0,1,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,2019-05-01 00:00:00,13:08:00,Ewallet,522.83,4.761905,26.1415,9.1
1,2,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,2019-08-03 00:00:00,10:29:00,Cash,76.40,4.761905,3.8200,9.6
2,3,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,2019-03-03 00:00:00,13:23:00,Credit card,324.31,4.761905,16.2155,7.4
3,4,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33:00,Ewallet,465.76,4.761905,23.2880,8.4
4,5,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2019-08-02 00:00:00,10:37:00,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46:00,Ewallet,40.35,4.761905,2.0175,6.2
996,997,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,2019-02-03 00:00:00,17:16:00,Ewallet,973.80,4.761905,48.6900,4.4
997,998,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2019-09-02 00:00:00,13:22:00,Cash,31.84,4.761905,1.5920,7.7
998,999,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33:00,Cash,65.82,4.761905,3.2910,4.1
999,1000,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28:00,Cash,618.38,4.761905,30.9190,6.6

In [14]:
df.groupby('Unitprice').max()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  """Entry point for launching an IPython kernel.

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Quantity,Tax,Total,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
Unitprice,,,,,,,,,,,,,,,,
10.08,945,333-23-2632,A,Yangon,Member,Male,Health and beauty,7,3.5280,74.0880,20:14:00,Cash,70.56,4.761905,3.5280,4.2
10.13,573,239-48-4278,A,Yangon,Member,Male,Food and beverages,7,3.5455,74.4555,19:35:00,Ewallet,70.91,4.761905,3.5455,8.3
10.16,785,516-77-6464,C,Naypyitaw,Member,Female,Health and beauty,5,2.5400,53.3400,13:08:00,Ewallet,50.80,4.761905,2.5400,4.1
10.17,823,784-21-9238,C,Naypyitaw,Member,Male,Sports and travel,1,0.5085,10.6785,14:15:00,Cash,10.17,4.761905,0.5085,5.9
10.18,882,115-38-7388,C,Naypyitaw,Member,Female,Fashion accessories,8,4.0720,85.5120,12:51:00,Credit card,81.44,4.761905,4.0720,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99.82,942,702-83-5291,C,Naypyitaw,Normal,Male,Fashion accessories,9,44.9190,943.2990,18:09:00,Credit card,898.38,4.761905,44.9190,6.7
99.83,284,667-92-0055,A,Yangon,Member,Male,Health and beauty,6,29.9490,628.9290,15:02:00,Ewallet,598.98,4.761905,29.9490,8.5
99.89,495,437-53-3084,B,Mandalay,Normal,Male,Fashion accessories,2,9.9890,209.7690,11:48:00,Ewallet,199.78,4.761905,9.9890,7.1
99.92,931,641-62-7288,B,Mandalay,Normal,Male,Home and lifestyle,6,29.9760,629.4960,13:33:00,Ewallet,599.52,4.761905,29.9760,7.1
99.96,984,219-22-9386,C,Naypyitaw,Normal,Male,Sports and travel,9,44.9820,944.6220,17:26:00,Credit card,899.64,4.761905,44.9820,6.1

In [7]:
df.groupby('Unitprice').min()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.min is deprecated. In a future version, a TypeError will be raised. Before calling .min, select only columns which should be valid for the function.
  """Entry point for launching an IPython kernel.

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Quantity,Tax,Total,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
Unitprice,,,,,,,,,,,,,,,,
10.08,945,333-23-2632,A,Yangon,Member,Male,Health and beauty,7,3.5280,74.0880,20:14:00,Cash,70.56,4.761905,3.5280,4.2
10.13,573,239-48-4278,A,Yangon,Member,Male,Food and beverages,7,3.5455,74.4555,19:35:00,Ewallet,70.91,4.761905,3.5455,8.3
10.16,785,516-77-6464,C,Naypyitaw,Member,Female,Health and beauty,5,2.5400,53.3400,13:08:00,Ewallet,50.80,4.761905,2.5400,4.1
10.17,823,784-21-9238,C,Naypyitaw,Member,Male,Sports and travel,1,0.5085,10.6785,14:15:00,Cash,10.17,4.761905,0.5085,5.9
10.18,882,115-38-7388,C,Naypyitaw,Member,Female,Fashion accessories,8,4.0720,85.5120,12:51:00,Credit card,81.44,4.761905,4.0720,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99.82,301,446-47-6729,C,Naypyitaw,Member,Male,Fashion accessories,2,9.9820,209.6220,10:43:00,Cash,199.64,4.761905,9.9820,6.6
99.83,284,667-92-0055,A,Yangon,Member,Male,Health and beauty,6,29.9490,628.9290,15:02:00,Ewallet,598.98,4.761905,29.9490,8.5
99.89,495,437-53-3084,B,Mandalay,Normal,Male,Fashion accessories,2,9.9890,209.7690,11:48:00,Ewallet,199.78,4.761905,9.9890,7.1
99.92,931,641-62-7288,B,Mandalay,Normal,Male,Home and lifestyle,6,29.9760,629.4960,13:33:00,Ewallet,599.52,4.761905,29.9760,7.1
99.96,123,148-41-7930,B,Mandalay,Member,Male,Health and beauty,7,34.9860,734.7060,10:33:00,Cash,699.72,4.761905,34.9860,4.2

In [8]:
df.groupby('Unitprice').mean()

,No,Quantity,Tax,Total,cogs,gross_margin_percentage,gross_iincome,Rating
Unitprice,,,,,,,,
10.08,945.0,7.0,3.5280,74.0880,70.56,4.761905,3.5280,4.20
10.13,573.0,7.0,3.5455,74.4555,70.91,4.761905,3.5455,8.30
10.16,785.0,5.0,2.5400,53.3400,50.80,4.761905,2.5400,4.10
10.17,823.0,1.0,0.5085,10.6785,10.17,4.761905,0.5085,5.90
10.18,882.0,8.0,4.0720,85.5120,81.44,4.761905,4.0720,9.50
...,...,...,...,...,...,...,...,...
99.82,621.5,5.5,27.4505,576.4605,549.01,4.761905,27.4505,6.65
99.83,284.0,6.0,29.9490,628.9290,598.98,4.761905,29.9490,8.50
99.89,495.0,2.0,9.9890,209.7690,199.78,4.761905,9.9890,7.10
99.92,931.0,6.0,29.9760,629.4960,599.52,4.761905,29.9760,7.10
99.96,553.5,8.0,39.9840,839.6640,799.68,4.761905,39.9840,5.15

In [9]:
df.groupby('Quantity').max()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  """Entry point for launching an IPython kernel.

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Tax,Total,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
Quantity,,,,,,,,,,,,,,,,
1,999,896-34-0956,C,Yangon,Normal,Male,Sports and travel,99.69,4.9845,104.6745,20:47:00,Ewallet,99.69,4.761905,4.9845,9.9
2,993,883-69-1285,C,Yangon,Normal,Male,Sports and travel,99.89,9.9890,209.7690,20:46:00,Ewallet,199.78,4.761905,9.9890,9.8
3,974,895-66-0685,C,Yangon,Normal,Male,Sports and travel,99.70,14.9550,314.0550,20:59:00,Ewallet,299.10,4.761905,14.9550,10.0
4,982,889-04-9723,C,Yangon,Normal,Male,Sports and travel,99.42,19.8840,417.5640,20:50:00,Ewallet,397.68,4.761905,19.8840,9.8
5,991,892-05-6689,C,Yangon,Normal,Male,Sports and travel,99.78,24.9450,523.8450,20:59:00,Ewallet,498.90,4.761905,24.9450,9.9
6,978,891-01-7034,C,Yangon,Normal,Male,Sports and travel,99.92,29.9760,629.4960,20:54:00,Ewallet,599.52,4.761905,29.9760,10.0
7,1000,891-58-8335,C,Yangon,Normal,Male,Sports and travel,99.96,34.9860,734.7060,20:52:00,Ewallet,699.72,4.761905,34.9860,9.9
8,990,894-41-5205,C,Yangon,Normal,Male,Sports and travel,99.56,39.8240,836.3040,20:54:00,Ewallet,796.48,4.761905,39.8240,9.9
9,983,898-04-2717,C,Yangon,Normal,Male,Sports and travel,99.96,44.9820,944.6220,20:51:00,Ewallet,899.64,4.761905,44.9820,10.0
10,997,884-80-6021,C,Yangon,Normal,Male,Sports and travel,99.30,49.6500,1042.6500,20:55:00,Ewallet,993.00,4.761905,49.6500,10.0

In [10]:
df.groupby('Quantity').min()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.min is deprecated. In a future version, a TypeError will be raised. Before calling .min, select only columns which should be valid for the function.
  """Entry point for launching an IPython kernel.

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Tax,Total,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
Quantity,,,,,,,,,,,,,,,,
1,27,151-33-7434,A,Mandalay,Member,Female,Electronic accessories,10.17,0.5085,10.6785,10:02:00,Cash,10.17,4.761905,0.5085,4.0
2,9,101-81-4070,A,Mandalay,Member,Female,Electronic accessories,12.03,1.2030,25.2630,10:00:00,Cash,24.06,4.761905,1.2030,4.1
3,10,124-31-1458,A,Mandalay,Member,Female,Electronic accessories,10.59,1.5885,33.3585,10:05:00,Cash,31.77,4.761905,1.5885,4.0
4,11,110-48-7033,A,Mandalay,Member,Female,Electronic accessories,13.78,2.7560,57.8760,10:02:00,Cash,55.12,4.761905,2.7560,4.0
5,2,102-06-2002,A,Mandalay,Member,Female,Electronic accessories,10.16,2.5400,53.3400,10:08:00,Cash,50.80,4.761905,2.5400,4.1
6,7,109-28-2512,A,Mandalay,Member,Female,Electronic accessories,11.43,3.4290,72.0090,10:01:00,Cash,68.58,4.761905,3.4290,4.0
7,1,101-17-6199,A,Mandalay,Member,Female,Electronic accessories,10.08,3.5280,74.0880,10:00:00,Cash,70.56,4.761905,3.5280,4.0
8,4,114-35-5271,A,Mandalay,Member,Female,Electronic accessories,10.18,4.0720,85.5120,10:00:00,Cash,81.44,4.761905,4.0720,4.0
9,30,122-61-9553,A,Mandalay,Member,Female,Electronic accessories,11.28,5.0760,106.5960,10:26:00,Cash,101.52,4.761905,5.0760,4.0
10,8,137-63-5492,A,Mandalay,Member,Female,Electronic accessories,10.96,5.4800,115.0800,10:04:00,Cash,109.60,4.761905,5.4800,4.2

In [11]:
df.groupby('Quantity').mean()

,No,Unitprice,Tax,Total,cogs,gross_margin_percentage,gross_iincome,Rating
Quantity,,,,,,,,
1,541.839286,54.781875,2.739094,57.520969,54.781875,4.761905,2.739094,7.001786
2,525.131868,57.534286,5.753429,120.822000,115.068571,4.761905,5.753429,6.860440
3,544.600000,56.725556,8.508833,178.685500,170.176667,4.761905,8.508833,7.035556
4,499.633028,55.150550,11.030110,231.632312,220.602202,4.761905,11.030110,7.001835
5,466.215686,50.516176,12.629044,265.209926,252.580882,4.761905,12.629044,7.101961
6,463.357143,55.806939,16.742082,351.583714,334.841633,4.761905,16.742082,6.996939
7,521.274510,58.242843,20.384995,428.084897,407.699902,4.761905,20.384995,6.922549
8,492.882353,56.465412,22.586165,474.309459,451.723294,4.761905,22.586165,7.051765
9,456.945652,56.111630,25.250234,530.254908,505.004674,4.761905,25.250234,6.968478
10,491.478992,55.965546,27.982773,587.638235,559.655462,4.761905,27.982773,6.815966

In [26]:
df.loc[df['Productline']=="Health and beauty"].Quantity.min()

1

In [27]:
df.loc[df['Productline']=="Health and beauty"].Quantity.max()

10

In [28]:
df.loc[df['Productline']=="Health and beauty"].Quantity.mean()

5.618421052631579

In [29]:
df.loc[df['Productline']=="Electronic accessories"].Quantity.max()

10.08

In [30]:
df.loc[df['Productline']=="Health and beauty"].Unitprice.max()

99.96

In [31]:
df.loc[df['Productline']=="Health and beauty"].Unitprice.mean()

54.85447368421053

In [32]:
df.loc[df['Productline']=="Electronic accessories"].Quantity.min()

1

In [33]:
df.loc[df['Productline']=="Electronic accessories"].Quantity.max()

10

In [34]:
df.loc[df['Productline']=="Electronic accessories"].Quantity.mean()

5.711764705882353

In [38]:
df.loc[df['Productline'] =="Health and beauty"].Unitprice.max()<df.loc[df['Productline']=="Health and beauty"].Unitprice.min()

False

In [46]:
df.loc[(df['Productline'] == "Health and beauty") & (df['Gender'] == "Male")].Quantity.count()

88

In [47]:
df.loc[(df['Productline'] == "Fashion accessories") & (df['Gender'] == "Female")].Quantity.count()

96

In [51]:
df.loc[(df['Productline'] == "Fashion accessories") & (df['Productline'] == "Sports and travel") & (df['Gender'] == "Female")].Quantity.count()

0